
.main {
    display: flex;
    min-width: 100vw;
    min-height: 100vh;

    justify-content: center;
}

.main article .bigTitle {
    font-size: 7rem;
    width: 100%;
    margin: 1rem 0;
}

.main article .container {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    justify-content: space-evenly;
}

.main article .container .project {
    display: block;
    max-width: 45%;
    border: 2px solid #EEE;
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
    transition: transform 0.25s;
}

.main article .container .project:hover {
    transform: scale(1.02) rotate(1deg)
}

.main article .container .project:nth-child(2n):hover {
    background: linear-gradient(180deg, #000022, #000000);
    color: white;
}

.main article .container .project:nth-child(2n + 1):hover {
    background-image: linear-gradient( 135deg, #FFD3A5 10%, #FD6585 100%);
    color: white;
}

.main article .container .project:nth-child(2n + 2):hover {
    background-image: linear-gradient( 135deg, #FFE985 10%, #FA742B 100%);
    color: white;
}
.main article .container .project:nth-child(2n + 3):hover {
    background-image: linear-gradient( 135deg, #70F570 10%, #49C628 100%);
    color: white;
}

.main article .container .project h2 {
    margin: 0;
    padding: 10px;
    margin: 10px 0;
}

.main article .container .project p {
    margin: 10px 0;
    padding: 10px;
}

.main article .container .project img {
    width: 100%;
}

@supports (-webkit-background-clip: text) {
    .main article .bigTitle {
        background: linear-gradient( 135deg, #97ABFF 10%, #123597 100%);
        background-clip: text;
        /* background-size: 200%; */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.main article {
    width: 60vw;
    margin: 40px;
}

@media (max-width: 800px) {
    .main article {
        width: 85vw;
    }

    .main article .container .project {
        max-width: 100%;
        margin: 10px 0;
    }

    .main article .bigTitle {
        font-size: 5rem;
    }
}