
.mainImg {
    width: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.article {
    max-width: 60vw;
    margin: 3rem 0;
    margin-top: 0.5rem;
}

.bigTitle {
    font-size: 5rem;
    margin: 1rem 0;
}

@supports (-webkit-background-clip: text) {
    .bigTitle {
        background: linear-gradient( 135deg, #FF6FD8 10%, #3813C2 100%);
        background-clip: text;
        background-size: 200%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.article img {
    border-radius: 5px;
    margin: 2rem 0;
    margin-bottom: 0.5rem;
}

@media (max-width: 800px) {
    .article {
        max-width: 90vw;
    }

    .bigTitle {
        font-size: 3.5rem;
    }
}

.built {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid rgb(204, 204, 204);
    margin: 10px 0;
    background-image: #FAFAFA;
    color: black;
    position: relative;
}

.built .technology {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 7px 0;
    /* background-color: rgba(0,0,0, 0.13); */
    border: 2px solid #EEE;
    border-radius: 1px;
    border-left: 5px solid lightcoral;
}

.built .technology img {
    max-height: 1rem;
    padding: 0;
    margin: 0;
    border-radius: 50%;
}

.goButtonContainer {
    padding: 30px;
    border-radius: 5px;
    border: 1px solid rgb(204, 204, 204);
    margin: 10px 0;
    background-image: #FAFAFA;
    position: relative;
}

.button {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    background: linear-gradient(135deg, black, black);

    transition: 0.5s;
    margin: 5px;
    font-weight: 500;
}

.button.goButton:hover {
    transition: 0.5s;
    background: linear-gradient( 135deg, #F05F57 10%, #360940 100%);
}

.button.sourceButton:hover {
    transition: 0.5s;
    background: linear-gradient( 135deg, #FDD819 10%, #E80505 100%);
}